.form {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;

  .input-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
